/*    note:   TWO copies of this "aaa_style.css" file exist.
                 Throughout the forum pages, the css file is loaded from relative link "../aaa_style.css"
                 The TOC pages for each of the subforums reside in subdirectories, and their copy of aaa_style.css can specify different styling, if desired.
*/
body { margin:0; padding:0; }
/*    div { border: 1px solid green; margin: 2px; }    */
/*                            ^--------- USEFUL DURING TROUBLSHOOTING   */

#page-body {padding:12px;    /*   background-color:#9ad;   */     }
.wrap, #wrap { padding:12px; background-color:#c6c9df; }      /*   THIS LINE SHOULD REMAIN COMMENTED B/C .wrap IS NOT OUTERMOST ELEMENT OF SOME (MALFORMED) PAGE BODIES  */
.msgdateposted { color:#063; }
.postbody {           /* border-bottom: solid 1px #333; */    padding-left:12px; padding-bottom:10px; }
.postprofile { /* border-top: 1px solid black; */ padding-top:18px;  }
.detail-title-numposts, .avatar-username-inner, .username-coloured, .attachbox, .fileimage, .inline-attachment,
         .profile-joined, .authortotalposts, .hidepubdate, .views, .forum_description
         {  /*       border:1px solid #f00;    */ display:none; }
.codebox pre { overflow:auto; background-color:#334; color:#6c6; padding:6px; border: solid 1px black; }      /* ========== NOT MONOSPACED =========== */
.extraname, .unread, .divider { display: none }
.authornamelink { text-decoration: none; }
.button2, .button, { padding:6px; border:1px solid #cce; }
li {         display:inline; /*  float:left; */ }   /* arrange horizontally */
li .button { padding-right:6px; font-weight:bold; }
.detail-title-numposts { padding-left: 1.8em; }
time { color:#080; padding-left: 1em; }
blockquote { padding:10px; border: solid 1px #6a6; background-color:#bfbfbf; }
.bg1 { background-color:#ace; padding:12px; }
.bg2 { background-color:#9bd; padding:12px; }
.emoticon { color:#ccc; background-color:#66d; border: 1px solid #000;  }    /* which EXACT emoticon image had been displayed for each given instance was not apparent within the scraped pages */
.authornamelink { color: #00c; font-weight:bold; padding-left:12px; }
.topica-title { display:inline-block; padding-top:16px; font-size:1.6em; }
.topica-title a { text-decoration:none; }
.numpostsintopic {padding-left: 8px; }
.dropdown-container { padding-right: 10px; }
.pagination .active { padding-right: 6px; color: #06f; font-size:1.6em; border-top: 1px solid #999; }
.scrollToTopText { font-weight:italic; font-size:1.6em; display:block; text-align:center; cursor:pointer; margin-top:5px }
.topicz-title { font-size: 1.8em; font-weight:bold; padding-right: 24px; }
.list-inner { padding-top:2px; }
.statictopictitle { font-weight:italic; font-size:0.9em; }
.topic-titleb a { font-size:1.9em; font-wieght:bold; text-decoration:none; }
.username, .profile-rank { font-size:1.2em; font-weight:bold; padding-bottom:8px; }
.jumptopagez {padding-left: 36px; padding-right: 6px; }
.stat-block { display:none; }   /*   PRESENT ONLY ON SITE INDEX PAGE, AND THE TALLIES (reflect the 28 Oct status quo?)  DO NOT EXACTLY MATCH THE ARCHIVED COUNT  */
.parentofsubs, .list-inner { order-top: 1px solid black; }
.nested {margin-left:60px; background-color:#ccc; border:1px solid #889;}
.permalink { float:right; }       /*        FOR THIS TO BE USEFUL, PAGES MUST SPECIFY  base_url=    */
.content { padding-top: 14px; border-top: solid 1px #999; }
.row { background-color: #c9c9df; }  /*    REMOVED THIS IF CHECKERBOARD COLORING DESIRED FOR INDEX PAGES  */
.notice { padding-left:60px; padding-top:24px; color: #00008a; font-style:italic; }
fieldset { background-color: #9ad; border: 1px solid #00c; }
.pollbar5 { background-color: #f6d; }
.pollbar4 { background-color: #6cf; }
.pollbar3 { background-color: #9cc; }
.pollbar2 { background-color: #7a7; }
.pollbar1 { background-color: #aca; }
